@font-face {
    font-family: mono;
    src: url(mono.ttf); 
  }
  @font-face {
    font-family: derk;
    src: url(derk.otf);
  }
    html {
    font-family: mono;
  }
  *, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  body {
    background: rgb(17, 17, 17);
  }
  #overlay-toggle {
    position:absolute;
    display: none;
  }
  .debold{
    font-weight:normal
  }
  .back {
  width: 100%;
  }
  .test-fix {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .overlay {
    z-index: 1;
    background-color: black;
  }
  .overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  .text-content a:hover {
    opacity: 0.8;
  }
  .no-hover {
    display: block;
  }
  .hover {
    display: none;
  }
  .fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
  }
  .text-content {
    background: rgba(0, 0, 0, 0);
    display: grid;
    place-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .text-content h1 {
    font-size: 3rem;
    font-weight: 800;
  }
  .text-content p {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 31px;
    padding-left: 10px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 0.0;
    color: rgb(192, 192, 192);
    display: flex;
  }
  .text-content a {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 31px;
    padding-left: 10px;
    font-size: 1.3rem;
    line-height: 0.0;
    color: #cccccc;
    display: block;
    text-align: center;
  }
  #overlay-toggle:checked ~ .overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 600ms, 1ms;
  }
  #overlay-toggle:checked ~ .overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms;
  }
  @media(hover: hover) {
    .hover {
      display: block;
    }
    .no-hover {
      display: none;
    }
  }
  @keyframes fade{
    to {
      opacity: 0;
    }
  }
  @keyframes hide {
    to {
      visibility: hidden;
    }
  }
body{
    margin: 0;
    padding: 0;
    background-video: url(Dogs.mp4);
    background-size: cover;
}
.rain{
    height: 100vh;
    background-image: url(rain.png);
    animation: rain 0.3s linear infinite;
}
@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 20% 100%;
    }
}
.rain::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(lightining.png);
    top: -100px;
    transform: rotate(180deg);
    animation: lightining 4s linear infinite;
    opacity: 1;
}
@keyframes lightining{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.stars {
    background: black url("../img/stars.png") repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("../img/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;

}

.clouds {
    width: 10000px;
    height: 100%;
    background: transparent url("../img/clouds.png") repeat;
    background-size: 1000px 1000px;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

    -moz-animation: move-background 150s linear infinite;
    -ms-animation: move-background 150s linear infinite;
    -o-animation: move-background 150s linear infinite;
    -webkit-animation: move-background 150s linear infinite;
    animation: move-background 150s linear infinite;
}

.moon {
    height: 5vh;
    width: 5vh;
    position: absolute;
    z-index: 3;
    top: 17%;
    left: 3%;
}

#particles-js {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    top: -25px;
}

.rainbow-bg {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

.bg-pattern-rectangles {
    background-color: #1C1D1D;
    background-image: linear-gradient(30deg, #2d2d2d 12%, transparent 12.5%, transparent 87%, #2d2d2d 87.5%, #2d2d2d), linear-gradient(150deg, #2d2d2d 12%, transparent 12.5%, transparent 87%, #2d2d2d 87.5%, #2d2d2d), linear-gradient(30deg, #2d2d2d 12%, transparent 12.5%, transparent 87%, #2d2d2d 87.5%, #2d2d2d), linear-gradient(150deg, #2d2d2d 12%, transparent 12.5%, transparent 87%, #2d2d2d 87.5%, #2d2d2d), linear-gradient(60deg, #2d2d2d77 25%, transparent 25.5%, transparent 75%, #2d2d2d77 75%, #2d2d2d77), linear-gradient(60deg, #2d2d2d77 25%, transparent 25.5%, transparent 75%, #2d2d2d77 75%, #2d2d2d77);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.card {
    margin: 0 0 1rem 0;
    border-radius: 10px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .3);
    border: none;
    background-color: rgba(34, 34, 34, 0.8);
    backdrop-filter: blur(10px);
}

@media (min-width: 1200px) {
    .container{
        max-width: 85%;
    }
}


.user {
    position: relative
}

.profile img {
    height: 100px;
    width: 100px;
    margin-top: 5px;
}

.profile {
    position: absolute;
    top: -50px;
    height: 110px;
    width: 110px;
    background-color: #222;
    border-radius: 50%
}

.profile-banner img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.profile-details {
    margin-top: 4.5rem;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.grid-stack-item-content {
    -moz-box-shadow: 0 0 2px #919191; /* Firefox 3.5 - 3.6 */
    -webkit-box-shadow: 0 0 2px #919191;
    box-shadow: 0 0 2px #919191;
    border-radius: 10px;
}

.gridstack-inner-item {
    height: 100%;
    width: 100%;
}

.badge-tags span {
    margin-right: 0.3rem;
    margin-bottom: 0.7rem;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.badge-tags {
    margin: 0;
}

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

.btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
}

.btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
}
